/* Owner styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

h1 {
    font-family: 'Alata', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, .08);
}

.wrapper .left {
    width: 40%;
    background: #E08457;
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
}

.wrapper .left img {
    border-style: groove;
    border-radius: 50%;
    margin-bottom: 10px;
}

.wrapper .left h4 {
    margin-bottom: 10px;
}

.wrapper .left p {
    font-size: 12px;
}

.wrapper .right {
    width: 65%;
    background: #fff;
    padding: 30px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects {
    margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data {
    display: flex;
    justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data {
    width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4 {
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p {
    font-size: 13px;
    margin-bottom: 10px;
    color: #919aa3;
}


/*matching Styles */

.top
{
    width: 100%;
    height: 40px;
    background-color: lightyellow;
    text-align: center;
}

.side
{
    width: 40px;
    height: 100%;
    background-color: lightyellow;
    float: left;
}

.feed
{
    width: 100%;
    height: 100%;
    background-color: none;
    text-align: center;
}

.feed .container
{
    width: 900px;
    height: 250px;
    background-color: lightyellow;
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.feed .container .owner
{
    width: 300px;
    height: 90%;
    background-color: none;
    display: inline-block;
    text-align: left;
    margin-top: 10px;
}

.feed .container .owner .ownerPic
{
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    margin: 10px;
}

.feed .container .owner .ownerInfo
{
    width: 280px;
    height: 95px;
    background-color: lightgreen;
    margin: 10px;
}

.feed .container .pets
{
    width: 475px;
    height: 90%;
    background-color: none;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.feed .container .pets .petContainer
{
    width: 450px;
    height: 100px;
    background-color: none;
    margin: 10px;
    text-align: left;
}

.feed .container .pets .petContainer .petPic
{
    width: 90px;
    height: 90px;
    background-color: lightgreen;
    float: left;
    margin: 5px;
}

.feed .container .pets .petContainer .petInfo
{
    width: 325px;
    height: 90px;
    background-color: lightgreen;
    float: left;
    margin: 5px;
}

.feed .container .buttons
{
    width: 10%;
    height: 90%;
    background-color: none;
    display: inline-block;
    margin-top: 10px;
}

.feed .container .buttons .buttonContainer
{
    width: 50px;
    height: 50px;
    background-color: lightgreen;
    margin-left: 25%;
    margin-top: 45%;
}