<h1>Main Page</h1>
{{#if user}}
<h2>
    {{user.name}}
</h2>
<form action="/" method="POST">
    <button>logout</button>
</form>
{{else}}
<a href="register">register</a>
<a href="login">login</a>
{{/if}}