<DOCTYPE !HTML>
    <html>
        <head>
            <!-- add bootstrap, css and fonts to head -->
            <link rel ="stylesheet" href ="matchingStyles.css" type="text/css">

            <!-- bootstrap css file. needed for bootstrap.  the design features in bootsrap are all just classes that get controlled in a css file-->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            

            <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">

        </head>

        <body>

            <!-- add navbar to the top of the body -->
            <nav class="navbar navbar-expand-lg navbar-light" style = "background-color: #63A779;">
                <a class="navbar-brand" href="/">Paw Me Maybe</a> <!--title on the navbar that also functions as a link to the homepage -->
             <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
            <!-- <span class="navbar-toggler-icon"></span> -->
      
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a> 
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="profile">Your Profile</a> 
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="petProfile">Your Pets</a> 
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="matching">Match with Pets</a> 
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class = "matchingContainer">
                <div class = "leftColumn">
                    <!---Javascript: Pull currently viewed pet's main profile picture.-->
                    <img src = "testImage.jpg" alt = "doggo" height = "300" width = "250">
                </div>
                
                <div class = "middleColumn">
                    <!---Javascript: Pull currently viewed pet's information/description.-->
                    <p>This is the pet's description.</p>
                </div>
                            
                <div class = "rightColumn">
                    <div class = "topButton">
                        <!--Javascript: If clicked, saves profile to liked list then moves to next profile.-->
                        <input type ="image" src = "greenAsset 3@3x.PNG" alt = "button" width = "48" height = "48">
                    </div>

                    <div class = "bottomButton">
                        <!--Javascript: If clicked, moves to next profile.-->
                        <input type ="image" src = "redAsset 1@3x.PNG" alt = "button" width = "48" height = "48" class="rotate">
                    </div>
                </div>
            </div>
        </body>
    </html>