<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Alata|Roboto&display=swap" rel="stylesheet">
    <title>New Pet</title>
</head>
<body class = "input_field">
    <form method="POST" action="/new-pet">
        Name: <br>
        <input name="petname" type="text" class = "input_box"> <br>
        Species:<br>
        <select name="species" class = "text_margin">
            <option value="cat" selected>Cat</option>
            <option value="dog">Dog</option>
            <option value="rabbit">Rabbit</option>
        </select>
        <br>
        
        Gender:<br>
        <input type="radio" name="gender" value="m" >Male<br>
        <input type="radio" name="gender" value="f" class = "text_margin">Female<br>
        
        Age: <br>
        <input  type="number" name="age" class = "input_box"><br>
        
        Bio:<br>
        <textarea type="text" name="petbio" id="petbio" cols="30" rows="10" class = "text_margin"></textarea>
        <br>

        Other Info: <br>
        <input type="checkbox" name="otherpetinfo" value="spayed" id="otherpetinfo">Spayed/Neutered<br>
        <input type="checkbox" name="otherpetinfo" value="friendly" id="otherpetinfo">Friendly with other types of pets<br>
        <input type="checkbox" name="otherpetinfo" value="immunized" id="otherpetinfo">Up to date on all their shots<br>
        <input type="submit" class = "input_button">
    </form>
</body>
</html>