<h1>Owner Profile Form</h1>
<form action="/ownerForm" method="POST" enctype="multipart/form-data">
  <div>
    <label for="location">Location</label>
    <input type="text" name="location" id="location" />
  </div>
  <div>
    <label for="bio">Bio</label>
    <input type="text" name="bio" id="bio">
  </div>
<<<<<<< HEAD
  <div>
    <label>Profile Image</label>
      <div class="file-field input-field">
        <input name="myImage" type="file">
      </div>
  </div>
  <button type="submit">register</button>
=======
  <input type="submit" value="Submit">
>>>>>>> 85f82c59688910f0c317b04cb4b7f48ee7c8270f
</form>

