<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css?family=Alata|Roboto&display=swap" rel="stylesheet">
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Owner Profile</title>
		<link rel="Stylesheet" href="style.css">

		<style>
			*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}


body{
   background: white;

}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 1000px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left{
  width: 40%;
  background: #E08457;
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}


.wrapper .left img{
    border-style: groove;
    border-radius: 50%;
    margin-bottom: 10px;
}
.wrapper .left h4{
  margin-bottom: 10px;
}

.wrapper .left p{
  font-size: 12px;
}

.wrapper .right{
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects{
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data{
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data{
  width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p{
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}

		</style>
		<!-- add bootstrap, css and fonts to head -->
<link rel ="stylesheet" href ="styles.css" type="text/css">

<!-- bootstrap css file. needed for bootstrap.  the design features in bootsrap are all just classes that get controlled in a css file-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
	</head>
	<body>
	<nav class="navbar navbar-expand-lg navbar-light" style = "background-color: #63A779;">
    <a class="navbar-brand" href="/">Paw Me Maybe</a> <!--title on the navbar that also functions as a link to the homepage -->
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
      <!-- <span class="navbar-toggler-icon"></span> -->
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="profile">Your Profile</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="petProfile">Your Pets</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="matching">Match with Pets</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
    <a href="ownerForm">Go To Edit Profile</a>
		<div class="wrapper">
			<div class ="left">
        {{#each images}}
				<img src="/profileimages/{{this.filename}}" width="200">
        {{/each}}
				<h4>{{user.name}}</h4>
				<p>Owner</p>	
			</div>
			<div class="right">
				<div class="info">
					<h3>Information</h3>
					<div class="info_data">
						<div class="data">
							<h4>Location</h4>
              {{#if user}}
							<p>{{user.location}}</p>
						</div>
						<div class="data">
							<h4>Bio</h4>
							<p>{{user.bio}}</p>
              {{/if}}
						</div>
					</div>
				</div>
				<div class="projects">
						<h3>Pets</h3>
						<div class="info_data">
							<div class="data">
								<h4>Cooper</h4>
								<img src="cooper.jpg" alt="" width="100">
							</div>
							<div class="data">
									<h4>Waffles</h4>
									<img src="waffles.jpeg" alt="" width="100">
							</div>
						</div>
					</div>
			</div>
		</div>
	</body>
</html>
