<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css?family=Alata|Roboto&display=swap" rel="stylesheet">
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Owner Profile</title>
    <link rel="stylesheet" type="text/css" href="/style.css">

		<style>
			*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}


body{
   background: white;

}


		</style>
		<!-- add bootstrap, css and fonts to head -->

<!-- bootstrap css file. needed for bootstrap.  the design features in bootsrap are all just classes that get controlled in a css file-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<!-- add navbar to the top of the body -->
<nav class="navbar navbar-expand-lg navbar-light" style = "background-color: #63A779; font-family: 'Alata', sans-serif;">
    <a class="navbar-brand" href="/">Paw Me Maybe</a> <!--title on the navbar that also functions as a link to the homepage -->
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
      <!-- <span class="navbar-toggler-icon"></span> -->
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <a class="navbar-brand" href="/">
              <img src="redAsset.png" width="30" height="30" alt="">
          </a>
        <li class="nav-item">
          <a class="nav-link" href="profile">Your Profile</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="petProfile">Your Pets</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="matching">Match with Pets</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <!--  end of nav -->
  
<div class = "gradient" style = "height: 100%">
      <a href="ownerForm">Go To Edit Profile</a>
    <a href="ownerImage">Upload Image</a>
      <div class="wrapper">
        <div class ="left">
          {{#each images}}
          <img src="/profileimages/{{this.filename}}" width="200">
          {{/each}}
          <h4>{{user.name}}</h4>
          <p>Owner</p>	
        </div>
        <div class="right">
          <div class="info">
            <h3>Information</h3>
            <div class="info_data">
              <div class="data">
                <h4>Location</h4>
                {{#if user}}
                <p>{{user.location}}</p>
              </div>
              <div class="data">
                <h4>Bio</h4>
                <p>{{user.bio}}</p>
                {{/if}}
              </div>
            </div>
          </div>
          <div class="projects">
              <h3>Pets</h3>
              <div class="info_data">
                <div class="data">
                  <h4>Cooper</h4>
                  <img src="cooper.jpg" alt="" width="100">
                </div>
                <div class="data">
                    <h4>Waffles</h4>
                    <img src="waffles.jpeg" alt="" width="100">
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
	</body>
</html>
