.leftColumn
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 250px;
    background-color: #E5C66F;
    float: left;
}

.middleColumn
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 250px;
    background-color: #E5C66F;
    float: left;
    margin-left: 10px; 
}

.rightColumn
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 250px;
    background-color: #E5C66F;
    float: left;
    margin-left: 10px;
}

.topButton
{
    margin-bottom: 0px;
    padding: 15px;
}

.bottomButton
{
    margin-top: 0px;
    padding: 15px;
}

.matchingContainer
{
    background-color: #3B5D5B;
    height: 320px;
    width: 790px;
    padding: 10px;
    margin: 70 auto;
}

.rotate
{
    transform:rotate(180deg);
}